{% extends base_user.html %}

{% block core %}
<ol class="breadcrumb">
  <li><a href="/admin/problems">Problems</a></li>
  <li><a href="/admin/problem/{{ task.id }}">{{ task.name }}</a></li>
  <li class="active">Testcase</li>
</ol>

<h1>Upload testcase</h1>

<form class="form-horizontal" role="form" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <label for="codename" class="col-sm-2 control-label" style="text-align:left;">Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="codename" name="codename" placeholder="Name">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="input" style="text-align:left;">Input</label>
    <div class="col-md-7">
      <input id="input" name="input" class="input-file" type="file">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="output" style="text-align:left;">Output</label>
    <div class="col-md-7">
      <input id="output" name="output" class="input-file" type="file">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="public"></label>
    <div class="col-md-7">
    <div class="checkbox">
      <label for="checkboxes-0">
        <input type="checkbox" name="public" id="checkboxes-0">
        Public
      </label>
    </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="submit"></label>
    <div class="col-md-7">
      <input id="submit" type="submit" value="Submit" class="btn btn-primary">
    </div>
  </div>
</form>
{% end %}
