{% extends admin_base.html %}

{% block core %}
<h1 class="page-header"><i class="fa fa-bar-chart fa-fw"></i> {{ problemset.title }} <small>Statistics</small></h1>
<ol class="breadcrumb">
  <li><a href="/admin/problemsets">Problem Sets</a></li>
  <li class="active">{{ problemset.title }}</li>
</ol>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <td>Title</td>
            <td>{{ problemset.title }}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{ problemset.name }}</td>
          </tr>
        </table>
        <a href="/admin/problemset/{{ problemset.id }}/edit" class="pull-left" style="margin-right: 10px;">
          <button type="button" class="btn btn-success"><i class="fa fa-edit fa-fw"></i> Edit</button>
        </a>
        <button class="btn btn-danger"data-toggle="modal"data-target="#basicModal"><i class="fa fa-trash fa-fw"></i> Delete</button>

        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title modal-delete-title" id="myModalLabel">Are you sure you want to delete {{ problemset.name }}?</h4>
            </div>
            <div class="modal-footer">
              <form action="/admin/problemset/{{ problemset.id }}/delete" method="post" style="display: inline;">
                <button class="btn btn-default" type="submit" value="Delete">Yes</button>
              </form>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% end %}