{% extends admin_base.html %}

{% block scripts %}
<script src="/static/js/plugins/chartjs/Chart.Core.js"></script>
<script src="/static/js/plugins/chartjs/Chart.Line.js"></script>
<script type="text/javascript">
$(document).ready(function() {

  var crt = $("#example-chart").get(0).getContext("2d");
  var data = {
    labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
  }
  var options = {
    bezierCurve : false,
    responsive: true
  }
  var exampleChart = new Chart(crt).Line(data, options);
});
</script>
{% end %}

{% block core %}
<h1 class="page-header"><i class="fa fa-bar-chart fa-fw"></i> {{ userset.title }} <small>Statistics</small></h1>
<ol class="breadcrumb">
  <li><a href="/admin/users">Users</a></li>
  <li class="active">{{ userset.title }}</li>
</ol>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <td>First Name</td>
            <td>{{ userset.name }}</td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>{{ len(userset.problemSets) }}</td>
          </tr>
          <tr>
            <td>Username</td>
            <td>{{ len(userset.users) }}</td>
          </tr>
        </table>
        <a href="/admin/userset/{{ userset.id }}/edit" class="pull-left" style="margin-right: 10px;">
          <button type="button" class="btn btn-success"><i class="fa fa-edit fa-fw"></i> Edit</button>
        </a>
        <button class="btn btn-danger"data-toggle="modal"data-target="#basicModal"><i class="fa fa-trash fa-fw"></i> Delete</button>
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-footer">
        <form action="/admin/userset/{{ userset.id }}/delete" method="post" style="display: inline;">
          <button class="btn btn-default" type="submit" value="Delete">Yes</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
      </div>
      <div class="col-md-6">
        <div>
          <canvas id="example-chart" style="display: block;"></canvas>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default">Problem</button>
          <button type="button" class="btn btn-default">Tests</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Problems</h3>
        <span class="pull-right">
          <!-- Tabs -->
          <ul class="nav panel-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Single</a></li>
            <li><a href="#tab2" data-toggle="tab">Set</a></li>
          </ul>
      </span>
    </div>
    <div class="tab-content">
      <div class="table-responsive tab-pane active" id="tab1">
          <table class="table table-striped" id ="problems">
            <thead>
              <tr>
                <th>Status</th>
                <th>Problem</th>
                <th>Test Passed</th>
                <th>No. Submissions</th>
                <th>Submissions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="label label-default">Inactive</span></td>
                <td>aio10choreo</td>
                <td>0</td>
                <td>0</td>
                <td>-</td>
              </tr>
              <tr>
                <td><span class="label label-danger">Error</span></td>
                <td>aio10snap</td>
                <td>0</td>
                <td>0</td>
                <td>-</td>
              </tr>
              <tr>
                <td><span class="label label-success">Accepted</span></td>
                <td>aio10heat</td>
                <td>9/9</td>
                <td>2</td>
                <td>-</td>
              </tr>
              <tr>
                <td><span class="label label-warning">72%</span></td>
                <td>aio10island</td>
                <td>5/9</td>
                <td>1</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive tab-pane" id="tab2">
          <table class="table table-striped" id ="problems">
            <thead>
              <tr>
                <th>Status</th>
                <th>Problem</th>
                <th>Test Passed</th>
                <th>No. Submissions</th>
                <th>Submissions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="label label-default">Inactive</span></td>
                <td>aio10</td>
                <td>0</td>
                <td>0</td>
                <td>-</td>
              </tr>
              <tr>
                <td><span class="label label-danger">Error</span></td>
                <td>aio11</td>
                <td>0</td>
                <td>0</td>
                <td>-</td>
              </tr>
              <tr>
                <td><span class="label label-success">Accepted</span></td>
                <td>aio12</td>
                <td>9/9</td>
                <td>2</td>
                <td>-</td>
              </tr>
              <tr>
                <td><span class="label label-warning">72%</span></td>
                <td>aio13</td>
                <td>5/9</td>
                <td>1</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped" id ="users">
          <thead>
            <tr>
              <th>Name</th>
              <th>Input</th>
              <th>Output</th>
              <th>Score</th>
              <th>Passed</th>
            </tr>
          </thead>
          <tbody>
            {% for user in userset.users %}
            <tr>
              <td>{{ user.username }}</td>
              <td></td>
              <td></td>
              <td>1</td>
              <td>2/2</td>
            </tr>
            {% end %}
          </tbody>
        </table>
      </div>
    </div> 
  </div>
</div>
{% end %}