{% extends admin_base.html %}

{% block core %}
<h1 class="page-header"><i class="fa fa-th fa-fw"></i> Problems Sets</h1>
<ol class="breadcrumb page-breadcrumb">
  <li class="active">Problem Sets</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Problem Sets</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" id="problemsets">
      <col>
      <col>
      <col width="120">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
      {% for set in sets %}
        <tr>
          <td>{{ set.id }}</td>
          <td>{{ set.name }}</td>
          <td style="text-align: center;">
            <form action="/admin/problemset/{{ set.id }}" method="get" style="display: inline;">
              <button class="btn btn-primary btn-xs" type="submit" value="Stats"><i class="fa fa-bar-chart fa-fw"></i></button>
            </form>
            <form action="/admin/problemset/{{ set.id }}/edit" method="get" style="display: inline;">
              <button class="btn btn-success btn-xs" type="submit" value="Edit"><i class="fa fa-edit fa-fw"></i></button>
            </form>
            <form action="/admin/problemset/{{ set.id }}/delete" method="post" style="display: inline;">
              <button class="btn btn-danger btn-xs" type="submit" value="Delete"><i class="fa fa-trash fa-fw"></i></button>
            </form>
          </td>
        </tr>
      {% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %}

{% block scripts %}
<script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
    $('#problems').dataTable({
      "fnDrawCallback":function(){
          if($("#problems").find("tr:not(.ui-widget-header)").length<=5){
              $('#problems_paginate')[0].style.display = "none";
          } else {
              $('#problems_paginate')[0].style.display = "block";
          }
      },
      "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 2 ] }
       ]
    });

    $('#problems_filter').find("label").append('<a href="/admin/problem/add"><button type="button" class="btn btn-success" style="margin-left: 20px;">Add <i class="fa fa-plus fa-fw"></i></button></a>')

    $('#problemsets').dataTable({
      "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 2 ] }
       ],
      "oLanguage": {
        "oPaginate": {
          "sNext": "<i class=\"fa fa-chevron-right fa-fw\"></i>",
          "sPrevious": "<i class=\"fa fa-chevron-left fa-fw\"></i>"
        },
        "sInfo": "Showing <strong>_START_</strong> to <strong>_END_</strong> of <strong>_TOTAL_</strong>"
      },
    });

    $('#problemsets_filter').find("label").empty().append('<div class="input-group"><input type="search" class="form-control input-sm" aria-controls="problemsets"><span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span></div><a href="/admin/problemset/add"><button type="button" class="btn btn-sm btn-success" style="margin-left: 10px;"><i class="fa fa-plus fa-fw"></i></button></a>');
    $('#problemsets_length').find("label").empty().append('<label><select name="problemsets_length" aria-controls="problemsets" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> per page</label>');
  });
</script>
{% end %}