<!-- view_usersets.html
	Currently, a webpage to view usersets for the purpose of confirming they exist
	Created for the purposes of testing, but can be expanded to usable page
-->

{% extends admin_base.html %}

{% block title %}Holly{% end %}

{% block js_init %} 

{% end %}

{% block core %}
<h1 class="page-header"><i class="fa fa-group fa-fw"></i> Users</h1>
<ol class="breadcrumb page-breadcrumb">
  <li class="active">Users</li>
</ol>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Groups</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-10">
            <div class="input-group">
              <input type="search" class="form-control">
              <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
            </div>
          </div>
          <div class="col-sm-2 clearfix">
            <a href="/admin/userset/add" class="pull-right">
              <button type="button" class="btn btn-success" style="margin-bottom: 16px;"><i class="fa fa-plus fa-fw"></i></button>
            </a>
          </div>
        </div>
        <div class="form-group">
          <select multiple class="form-control" id="group-select" size="6">
            {% for userset in specialSets %}
            <option>{{ userset.name }}</option>
            {% end %}
            {% for userset in sets %}
            <option>{{ userset.name }}</option>
            {% end %}
          </select>
        </div>
      </div>
    </div>
    {% for userset in specialSets %}
    <div id="{{ userset.name }}-details" class="panel panel-default userset-panel" style="display: none;">
      <div class="panel-heading">
        <h3 class="panel-title">{{ userset.name }}</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>Users</td>
            <td>{{ len(userset.users) }}</td>
          </tr>
          <tr>
            <td>Problem Sets</td>
            <td>{{ len(userset.problemSets) }}</td>
          </tr>
        </table>

        <form action="/admin/userset/{{ userset.id }}" method="get" style="display: inline;">
          <button type="submit" class="btn btn-primary"><i class="fa fa-bar-chart fa-fw"></i> Stats</button>
        </form>
        <form action="/admin/userset/{{ userset.id }}/edit" method="get" style="display: inline;">
          <button type="submit" class="btn btn-success"><i class="fa fa-edit fa-fw"></i> Edit</button>
        </form>

        <form action="/admin/users" method="get" style="display: inline;">
          <button type="submit" class="btn btn-default" disabled="true"><i class="fa fa-trash fa-fw"></i> Delete</button>
        </form>
      </div>
    </div>
    {% end %}

    {% for userset in sets %}
    <div id="{{ userset.name }}-details" class="panel panel-default userset-panel" style="display: none;">
      <div class="panel-heading">
        <h3 class="panel-title">{{ userset.name }}</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>Users</td>
            <td>{{ len(userset.users) }}</td>
          </tr>
          <tr>
            <td>Problem Sets</td>
            <td>{{ len(userset.problemSets) }}</td>
          </tr>
        </table>

        <form action="/admin/userset/{{ userset.id }}" method="get" style="display: inline;">
          <button type="submit" class="btn btn-primary"><i class="fa fa-bar-chart fa-fw"></i> Stats</button>
        </form>

        <form action="/admin/userset/{{ userset.id }}/edit" method="get" style="display: inline;">
          <button type="submit" class="btn btn-success"><i class="fa fa-edit fa-fw"></i> Edit</button>
        </form>
<!-- <button class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-trash fa-fw"></i> Delete</button> -->

<button class="btn btn-danger" data-toggle="modal" data-target="#basicModal{{ userset.id }}"><i class="fa fa-trash fa-fw"></i> Delete</button>


<div class="modal fade" id="basicModal{{ userset.id }}" tabindex="-1" role="dialog" aria-labelledby="basicModal{{ userset.id }}" aria-hidden="true">
<!-- <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"> -->
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-footer">
        
        <form action="/admin/userset/{{ userset.id }}/delete" method="post" style="display: inline;">
          <button class="btn btn-default" type="submit" value="Delete">Yes</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    {% end %}
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="table-responsive">
        <table id="users" class="table table-striped" id="problems">
          <col>
          <col>
          <col width="120">
          <col width="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Options</th>
              <th style="display: none;">Groups</th>
            </tr>
          </thead>
          <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>
                <form action="/admin/user/{{ user.id }}" method="get" style="display: inline;">
                  <button class="btn btn-primary btn-xs" type="submit" value="Stats"><i class="fa fa-bar-chart fa-fw"></i></button>
                </form>
                <form action="/admin/user/{{ user.id }}/edit" method="get" style="display: inline;">
                  <button class="btn btn-success btn-xs" type="submit" value="Edit"><i class="fa fa-edit fa-fw"></i></button>
                </form>

<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#basicModal{{ user.id }}"><i class="fa fa-trash fa-fw"></i></button>

<div class="modal fade" id="basicModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="basicModal{{ user.id }}" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-footer">
        <form action="/admin/user/{{ user.id }}/delete" method="post" style="display: inline;">
          <button class="btn btn-default" type="submit" value="Delete">Yes</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
              </td>
              <td style="display: none;">
                {% for set in user.userSets %}{{ set.name }};{% end %}
              </td>
            </tr>
          {% end %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>  
{% end %}

{% block scripts %}
<script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script>
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
      var groups = (data[3] || "").split(";");
      var options = $("#group-select")[0].options;
      for (var i = 0; i < options.length; i++) {
        if (options[i].selected) {
          result = false;
          for (var j = 0; j < groups.length; j++) {
            if (groups[j] == options[i].value) {
              result = true;
            }
          }
          if (result == false) {
            return false;
          }
        }
      }
      return true;
    });

  $(document).ready(function() {
    var userTable = $('#users').DataTable({
      "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 2 ] }
       ],
      "oLanguage": {
        "oPaginate": {
          "sNext": "<i class=\"fa fa-chevron-right fa-fw\"></i>",
          "sPrevious": "<i class=\"fa fa-chevron-left fa-fw\"></i>"
        },
      "sInfo": "Showing <strong>_START_</strong> to <strong>_END_</strong> of <strong>_TOTAL_</strong>"
      }
    });
    $('#users_filter').find("label").empty().append('<div class="input-group"><input type="search" class="form-control input-sm" aria-controls="users"><span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span></div>');
    $('#users_length').find("label").empty().append('<label><select name="users_length" aria-controls="users" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> per page</label>');

    function filterByGroup() {
      var options = $("#group-select")[0].options;
      var i;
      for (i = 0; i < options.length; i++) {
        if (options[i].selected) {
          $("#" + options[i].value + "-details").show("fast");
        } else {
          $("#" + options[i].value + "-details:visible").hide("fast");
        }
      }
      userTable.draw();
    };
    $("#group-select").change(filterByGroup);
    
  });
</script>
{% end %}