{% extends admin_base.html %}

{% block core %}
<h1 class="page-header"><i class="fa fa-bar-chart fa-fw"></i> {{ userset.title }} <small>Statistics</small></h1>
<ol class="breadcrumb">
  <li><a href="/admin/users">Users and Groups</a></li>
  <li class="active">Group: {{ userset.title }}</li>
</ol>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <td>Name</td>
            <td>{{ userset.name }}</td>
          </tr>
          <tr>
            <td>Number of visible problem sets</td>
            <td>{{ len(userset.problemSets) }}</td>
          </tr>
          <tr>
            <td>Number of users</td>
            <td>{{ len(userset.users) }}</td>
          </tr>
        </table>
        <a href="/admin/userset/{{ userset.id }}/edit" class="pull-left" style="margin-right: 10px;">
          <button type="button" class="btn btn-success"><i class="fa fa-edit fa-fw"></i> Edit</button>
        </a>
        <button class="btn btn-danger"data-toggle="modal"data-target="#basicModal"><i class="fa fa-trash fa-fw"></i> Delete</button>
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title modal-delete-title" id="myModalLabel">Are you sure you want to delete {{ userset.name }}?</h4>
      </div>
      <div class="modal-footer">
        <form action="/admin/userset/{{ userset.id }}/delete" method="post" style="display: inline;">
          <button class="btn btn-default" type="submit" value="Delete">Yes</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
      </div>
      <div class="col-md-6">
        <div>
          <canvas id="example-chart" style="display: block;"></canvas>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default">Problem</button>
          <button type="button" class="btn btn-default">Tests</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block scripts %}
<script src="/static/js/plugins/chartjs/Chart.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

  var crt = $("#example-chart").get(0).getContext("2d");
  var data = {
    datasets: [
        {
            label: "Total passes",
            fillColor: "rgba(67,227,9,0.2)",
            strokeColor: "rgba(67,227,9,1)",
            pointColor: "rgba(67,227,9,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: {{ graph_data1 }}

        },
        {
            label: "Total fails",
            fillColor: "rgba(242,7,11,0.2)",
            strokeColor: "rgba(242,7,11,1)",
            pointColor: "rgba(242,7,11,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: {{ graph_data2 }}
        }
    ],
    labels: {{ labels }}
  }
  var options = {
    bezierCurve : false,
    responsive: true
  }
  var exampleChart = new Chart(crt).Bar(data, options);
});
</script>
{% end %}