{% extends admin_base.html %}

{% block core %}
<h1 class="page-header"><i class="fa fa-bar-chart fa-fw"></i> {{ task.title }} <small>Statistics</small></h1>
<ol class="breadcrumb">
  <li><a href="/admin/problems">Problems</a></li>
  <li class="active">{{ task.title }}</li>
</ol>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <td>Title</td>
            <td>{{ task.title }}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{ task.name }}</td>
          </tr>
          <tr>
            <td>Time limit</td>
            <td>{{ task.active_dataset.time_limit }}</td>
          </tr>
          <tr>
            <td>Memory limit</td>
            <td>{{ task.active_dataset.memory_limit }}</td>
          </tr>
          <tr>
            <td>Task type</td>
            <td>{{ task.active_dataset.task_type }}</td>
          </tr>
        </table>
        <a href="/admin/problem/{{ task.id }}/edit" class="pull-left" style="margin-right: 10px;">
          <button type="button" class="btn btn-success"><i class="fa fa-edit fa-fw"></i> Edit</button>
        </a>
<button class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-trash fa-fw"></i> Delete</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title modal-delete-title" id="myModalLabel">Are you sure you want to delete {{ task.name }}?</h4>
      </div>
      <div class="modal-footer">
        
        <form action="/admin/problem/{{ task.id }}/delete" method="post" style="display: inline;">
          <button class="btn btn-default" type="submit" value="Delete">Yes</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
      </div>
      <div class="col-md-6">
        <div>
          <canvas id="example-chart" style="display: block;"></canvas>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default">Problem</button>
          <button type="button" class="btn btn-default">Tests</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped" id ="users">
          
          <thead>
            <tr>
              <th>Status</th>
              <th>Username</th>
              <th>Test Passed</th>
              <th>No. Submissions</th>
              <th>Submissions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}

            <tr>

              {% if user_submission_stats[user.username]["status"] == "ready" %}
                {% if user_submission_stats[user.username]["percent"] == 100 %}
                  <td><span class="label label-success">Accepted</span></td>
                {% else %}
                  <td><span class="label label-warning">{{ user_submission_stats[user.username]["percent"] }}%</span></td>
                {% end %}
              {% elif user_submission_stats[user.username]["status"] == "failed_compilation" %}
                <td><span class="label label-danger">Compilation failed</span></td>
              {% elif user_submission_stats[user.username]["status"] == "none" %}
                <td><span class="label label-default">Inactive</span></td>
              {% else %}
                <td><span class="label label-danger">Error</span></td>
              {% end %}
              <td>{{ user.username }}</td>
              <td>{{ user_submission_stats[user.username]["tests_passed"] }}</td>
              <td>{{ user_submission_stats[user.username]["num_submissions"] }}</td>
              <td><a href="/admin/user/{{ user.id }}/{{ task.id }}/submissions">Past Submissions</a></td>
            </tr>

            {% end %}
<!--             
            <tr>
              <td><span class="label label-default">Inactive</span></td>
              <td>admin</td>
              <td>0</td>
              <td>0</td>
              <td>-</td>
            </tr>
            <tr>
              <td><span class="label label-danger">Error</span></td>
              <td>daniel</td>
              <td>0</td>
              <td>0</td>
              <td>-</td>
            </tr>
            <tr>
              <td><span class="label label-success">Accepted</span></td>
              <td>krauth</td>
              <td>9/9</td>
              <td>2</td>
              <td>-</td>
            </tr>
            <tr>
              <td><span class="label label-warning">72%</span></td>
              <td>peacock</td>
              <td>5/9</td>
              <td>1</td>
              <td>-</td>
            </tr>
 -->
           </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tests</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped" id ="users">
          <thead>
            <tr>
              <th>Name</th>
              <th>Input</th>
              <th>Output</th>
              <th>Passed</th>
            </tr>
          </thead>
          <tbody>
            {% for testcase in task.active_dataset.testcases.itervalues() %}
            <tr>
              <td>{{ testcase.codename }}</td>
              <td>
<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal1{{ testcase.id }}">
  View Input
</button>
<div class="modal fade" id="myModal1{{ testcase.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ testcase.codename }} Input</h4>
      </div>
      <div class="modal-body">
          <pre>{{ inputs[testcase.codename] }}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
              </td>
              <td>
<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal2{{ testcase.id }}">
  View Output
</button>
<div class="modal fade" id="myModal2{{ testcase.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ testcase.codename }} Output</h4>
      </div>
      <div class="modal-body">
          <pre>{{ outputs[testcase.codename] }}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
              </td>
              <td>{{ submission_stats["tests_passed"][testcase.codename] }}/{{ submission_stats["num_submissions"] }}</td>
            </tr>
            {% end %}
          </tbody>
        </table>
      </div>
    </div>      
  </div>
</div>
{% end %}

{% block scripts %}
<script src="/static/js/plugins/chartjs/Chart.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

  var crt = $("#example-chart").get(0).getContext("2d");
  var data = {
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: {{ graph_data1 }}

        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: {{ graph_data2 }}
        }
    ],
    labels: {{ labels }}
  }
  var options = {
    bezierCurve : false,
    responsive: true
  }
  var exampleChart = new Chart(crt).Bar(data, options);
});
</script>
{% end %}