{% extends admin_base.html %}

{% block core %}
<h1 class="page-header"><i class="fa fa-tasks fa-fw"></i> Problems</h1>
<ol class="breadcrumb page-breadcrumb">
  <li class="active">Problems</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Individual Problems</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" id="problems">
      <col>
      <col>
      <col width="120">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.id }}</td>
          <td><a href="/admin/problem/{{ task.id }}">{{ task.name }}</a></td>
          <td style="text-align: center;">
            <form action="/admin/problem/{{ task.id }}" method="get" style="display: inline;">
              <button class="btn btn-primary btn-xs" type="submit" value="Stats"><i class="fa fa-bar-chart fa-fw"></i></button>
            </form>
            <form action="/admin/problem/{{ task.id }}/edit" method="get" style="display: inline;">
              <button class="btn btn-success btn-xs" type="submit" value="Edit"><i class="fa fa-edit fa-fw"></i></button>
            </form>
<button class="btn btn-danger btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-trash fa-fw"></i></button>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-footer">
        <form action="/admin/problem/{{ task.id }}/delete" method="post" style="display: inline;">
          <button class="btn btn-default" type="submit" value="Delete">Yes</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
          </td>
        </tr>
      {% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %}

{% block scripts %}
<script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
    $('#problems').dataTable({
      "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 2 ] }
       ],
      "oLanguage": {
        "oPaginate": {
          "sNext": "<i class=\"fa fa-chevron-right fa-fw\"></i>",
          "sPrevious": "<i class=\"fa fa-chevron-left fa-fw\"></i>"
        },
        "sInfo": "Showing <strong>_START_</strong> to <strong>_END_</strong> of <strong>_TOTAL_</strong>"
      }
    });

    $('#problems_filter').find("label").empty().append('<div class="input-group"><input type="search" class="form-control input-sm" aria-controls="problems"><span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span></div><a href="/admin/problem/add"><button type="button" class="btn btn-sm btn-success" style="margin-left: 10px;"><i class="fa fa-plus fa-fw"></i></button></a>');
    $('#problems_length').find("label").empty().append('<label><select name="problems_length" aria-controls="problems" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> per page</label>');
  });
</script>
{% end %}