{% extends admin_base.html %}

{% block core %}

<h1 class="page-header"><i class="fa fa-tasks fa-fw"></i> Problems</h1>
<ol class="breadcrumb page-breadcrumb">
  <li class="active">Problems</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Problems</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" id="problems">
      <col>
      <col>
      <col width="120">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.id }}</td>
          <td><a href="/admin/problem/{{ task.id }}">{{ task.name }}</a></td>
          <td style="text-align: center; min-width: 120px;">
            <form action="/admin/problem/{{ task.id }}" method="get" style="display: inline;">
              <button class="btn btn-primary btn-xs" type="submit" value="Stats"><i class="fa fa-bar-chart fa-fw"></i></button>
            </form>
            <form action="/admin/problem/{{ task.id }}/edit" method="get" style="display: inline;">
              <button class="btn btn-success btn-xs" type="submit" value="Edit"><i class="fa fa-edit fa-fw"></i></button>
            </form>
<button class="btn btn-danger btn-xs"data-toggle="modal"data-target="#basicModal{{ task.id }}"><i class="fa fa-trash fa-fw"></i></button>

<div class="modal fade" id="basicModal{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="basicModal{{ task.id }}" aria-hidden="true">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title modal-delete-title" id="myModalLabel">Are you sure you want to delete {{ task.name }}?</h4>
      </div>
      <div class="modal-footer">
        <form action="/admin/problem/{{ task.id }}/delete" method="post" style="display: inline;">
          <button class="btn btn-default" type="submit" value="Delete">Yes</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
          </td>
        </tr>
      {% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %}

{% block scripts %}
<script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
    $('#problems').dataTable({
      "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 2 ] }
       ],
      "oLanguage": {
        "oPaginate": {
          "sNext": "<i class=\"fa fa-chevron-right fa-fw\"></i>",
          "sPrevious": "<i class=\"fa fa-chevron-left fa-fw\"></i>"
        },
        "sSearch": '<div class="input-group-addon" style="display: inline; width: 40px;"><i class="fa fa-search fa-fw"></i></div>',
        "sLengthMenu": "_MENU_ per page",
        "sInfo": "Showing <strong>_START_</strong> to <strong>_END_</strong> of <strong>_TOTAL_</strong>"
      }
    });

    $('#problems_filter').find("label").append('<a href="/admin/problem/add"><button type="button" class="btn btn-sm btn-success" style="margin-left: 10px;"><i class="fa fa-plus fa-fw"></i></button></a>');
  });
</script>
{% end %}