<!DOCTYPE html>
{% import time %}
{% import json %}
{% from cms import DEFAULT_LANGUAGES, LANGUAGE_NAMES, LANGUAGES %}
{% from cmscommon.datetime import make_timestamp %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/reset.css">
    <link rel="stylesheet" href="/static/css/bootstrap-3.2.min.css">
    {% block head %}{% end %}
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/tws_style.css"> 

    <title>{% block title %}{% end %}</title>

  </head>
  <body>
    {% block body %} {% end %}
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/js/bootstrap-3.2.min.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/web_rpc.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/tws_utils.js"></script>
    <script type="text/javascript">
      function init()  {
          utils = new CMS.TWSUtils("{{ url_root }}", {{ make_timestamp(timestamp) }}, 0, 0, -1);
          {% block js_init %}{% end %}
      }
      $(document).ready(init);
    </script>
    {% block tail %} {% end %}
    
  </body>
</html>
