{% extends base.html %}

{% block js_init %}
function getUrlParameter(sParam) {
   var sPageURL = $(location).attr('search').slice(1)
   var sURLVariables = sPageURL.split('&');
   for (var i = 0; i < sURLVariables.length; i++) {
       var sParameterName = sURLVariables[i].split('=');
       if (sParameterName[0] == sParam) {
           return sParameterName[1];
       }
   }
   return "";
}
var errMsg = getUrlParameter("error");

if (errMsg.length > 0) {
$(confirmemailalert).show();
$(confirmemailalert).html(decodeURIComponent(errMsg));
}
{% end %}

{% block title %}Verify email{% end %}

{% block head %}
<link rel="stylesheet" href="/static/css/flat-ui.css">
<link rel="stylesheet" href="/static/css/contestant_style.css">
{% end %}

{% block body %}
<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="login-form">
      <h1>Email Verification</h1>
	  <div style="display:none" id="confirmemailalert" class="alert alert-danger col-sm-12"></div>
	  <p>
	  	Please enter the verification code sent to the email address you signed up with.
	  </p>
	
	  <form id="verificationform" class="form" role="form" method="POST">
		<div style="margin-bottom: 25px" class="form-group">
		  <input id="verification" type="text" class="form-control login-field" name="verification" value="" placeholder="verification">
		  <label class="login-field-icon" for="verification"><i class="fa fa-envelope fa-fw"></i></label>
		</div>

		<input class="btn btn-success" type="submit" value="Verify Email">

	  </form>
	  <a class="login-link" href="/login">Back to login</a>
    </div>   
  </div>  
</div>
{% end %}
