{% extends base.html %}

{% block title %}Contestant{% end %}

{% block head %}
<link rel="stylesheet" href="/static/css/flat-ui.css">
<link rel="stylesheet" href="/static/css/contestant_style.css">
{% block headextension %} {% end %}
{% end %}

{% block body %}
<header class="navbar navbar-default navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Holly</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.first_name and current_user.last_name %}
          <li><a>{{ current_user.first_name }} {{ current_user.last_name }}</a></li>
        {% else %}
          <li><a>{{ current_user.username }}</a></li>
        {% end %}
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-2 sidebar-wrapper">
       <nav class="nav-sidebar">
        <ul class="nav">
          <li class="{% if active_sidebar_item == "home" %}active{% end %}"><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
          <li class ="{% if active_sidebar_item == "problems" %}active{% end %}"><a href="/problems"><i class="fa fa-tasks fa-fw"></i> Problem Sets</a></li>
          <li class ="{% if active_sidebar_item == "competitions" %}active{% end %}"><a href="#"><i class="fa fa-calendar fa-fw"></i> Competitions</a></li>
          <li class ="{% if active_sidebar_item == "fame" %}active{% end %}"><a href="#"><i class="fa fa-trophy fa-fw"></i> Hall of Fame</a></li>
          <li class ="{% if active_sidebar_item == "help" %}active{% end %}"><a href="#"><i class="fa fa-question fa-fw"></i> Help</a></li>
          <li class="nav-divider"></li>
          <li><a href="/admin/problems"><i class="fa fa-cog fa-fw"></i> Administration</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-10 content-wrapper">
      <div class="content">
      {% block core %} {% end %}
      </div>
    </div>
  </div>
</div>
{% end %}

{% block tail %}
{% block scripts %}{% end %}
{% end %}