{% extends admin_base.html %}

{% block scripts %}
<script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    var unselectedTable = $('#unselectedproblems').DataTable({
      "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 2 ] }
       ],
      "oLanguage": {
        "oPaginate": {
          "sNext": "<i class=\"fa fa-chevron-right fa-fw\"></i>",
          "sPrevious": "<i class=\"fa fa-chevron-left fa-fw\"></i>"
        },
        "sInfo": "Showing <strong>_START_</strong> to <strong>_END_</strong> of <strong>_TOTAL_</strong>"
       }
    });

    var selectedTable = $('#selectedproblems').DataTable({
      "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 2 ] }
       ],
      "oLanguage": {
        "oPaginate": {
          "sNext": "<i class=\"fa fa-chevron-right fa-fw\"></i>",
          "sPrevious": "<i class=\"fa fa-chevron-left fa-fw\"></i>"
        },
        "sInfo": "Showing <strong>_START_</strong> to <strong>_END_</strong> of <strong>_TOTAL_</strong>"
       }
    });

    function updateIds() {
      if (selectedTable.row().length > 0) {
        $("#problemids").val(selectedTable.column(0).data().reduce(function (a,b) {
              return a.concat(" ").concat(b);
          }), "");
      } else {
        $("#problemids").val("");
      }
    }
    updateIds();

    function addProblem () {
      $(this).parents("tr").addClass('move');
      var items = unselectedTable.row('.move').data();
      items[2] = '<div style="width: 100%;text-align: center;"><button class="btn btn-danger btn-xs remove-problem new" type="button"><i class="fa fa-close fa-fw"></i></button></div>';
      selectedTable.row.add(items).draw(false);
      unselectedTable.row('.move').remove().draw( false );
      updateIds();
      $('.remove-problem.new').click(removeProblem);
      $('.remove-problem').removeClass("new");
    }

    function removeProblem () {
      $(this).parents("tr").addClass('move');
      var items = selectedTable.row('.move').data();
      items[2] = '<div style="width: 100%;text-align: center;"><button class="btn btn-success btn-xs add-problem new" type="button"><i class="fa fa-plus fa-fw"></i></button></div>';
      unselectedTable.row.add(items).draw(false);
      selectedTable.row('.move').remove().draw( false );
      updateIds();
      $('.add-problem.new').click(addProblem);
      $('.add-problem').removeClass("new");
    }

    $('.add-problem').click(addProblem);
    $('.remove-problem').click(removeProblem);

    $('#unselectedproblems_filter').find("label").empty().append('<div class="input-group"><input type="search" class="form-control input-sm" aria-controls="users"><span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span></div>');
    $('#selectedproblems_filter').find("label").empty().append('<div class="input-group"><input type="search" class="form-control input-sm" aria-controls="users"><span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span></div>');

    $('#unselectedproblems_length').find("label").empty().append('<label><select name="unselectedproblems_length" aria-controls="users" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> per page</label>');
    $('#selectedproblems_length').find("label").empty().append('<label><select name="selectedproblems_length" aria-controls="users" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> per page</label>');

    $('.editsetform').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                message: 'This name is not valid',
                validators: {
                    notEmpty: {
                        message: 'Problem set names cannot be empty'
                    },
                    stringLength: {
                        max: 80,
                        message: 'Problem set names must be no more than 80 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: 'Problem set names must only consist of underscores and alphanumeric characters'
                    }
                }
            },
            title: {
                message: 'This title is not valid',
                validators: {
                    notEmpty: {
                        message: 'Problem set titles cannot be empty'
                    },
                    stringLength: {
                        max: 80,
                        message: 'Problem set titles must be no more than 80 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_ ()#-,]+$/,
                        message: 'Problem set titles must only consist of underscores, parentheses, hashes, hyphens, commas, spaces and alphanumeric characters'
                    }
                }
            }
        }
    });
});
</script>
{% end %}


{% block core %}
<h1 class="page-header"><i class="fa fa-edit fa-fw"></i> Edit Problem Set</h1>
<ol class="breadcrumb">
  <li><a href="/admin/problemsets">Problem Sets</a></li>
  <li><a href="/admin/problemset/{{ problemset.id }}">{{ problemset.title }}</a></li>
  <li class="active">Edit</li>
</ol>

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal editsetform" role="form" method="post">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label" style="text-align:left;">Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="name" name="name" value="{{ problemset.name }}">
            </div>
          </div>

          <div class="form-group">
            <label for="title" class="col-sm-2 control-label" style="text-align:left;">Title</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="title" name="title" value="{{ problemset.title }}">
            </div>
          </div>

          <input type="hidden" id="problemids" name="problemids">

          <div class="form-group">
            <label class="col-md-2 control-label" for="submitbtn"></label>
            <div class="col-md-7">
              <input id="submitbtn" type="submit" value="Submit" class="btn btn-primary">
            </div>
          </div>
        </form>
    </div>
</div>

<div class="row">
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Selected Problems</h3>
    </div>
    <div class="table-responsive">
      <table id="selectedproblems" class="table table-striped">
        <col>
        <col>
        <col width="60">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {% for task in selected_tasks %}
          <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td style="text-align: center">
              <div style="width: 100%;text-align: center;">
                <button class="btn btn-danger btn-xs remove-problem" type="button"><i class="fa fa-close fa-fw"></i></button>
              </div>
            </td>
          </tr>
          {% end %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Unselected Problems</h3>
    </div>
    <div class="table-responsive">
      <table id="unselectedproblems" class="table table-striped">
        <col>
        <col>
        <col width="60">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {% for task in unselected_tasks %}
          <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td style="text-align: center">
              <div style="width: 100%;text-align: center;">
                <button class="btn btn-success btn-xs add-problem" type="button"><i class="fa fa-plus fa-fw"></i></button>
              </div>
            </td>
          </tr>
          {% end %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
{% end %}