{% extends admin_base.html %}

{% block core %}
<h1 class="page-header">Edit Problem Set</h1>
<ol class="breadcrumb">
  <li><a href="/admin/problems">Problems</a></li>
  <li class="active">Edit Problem Set</li>
</ol>

<form class="form-horizontal" role="form" method="post">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" style="text-align:left;">Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    </div>
  </div>

  <div class="form-group">
    <label for="title" class="col-sm-2 control-label" style="text-align:left;">Title</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="title" name="title" placeholder="Title">
    </div>
  </div>

	<div class="form-group">
    <label for="problemids" class="col-sm-2 control-label" style="text-align:left;">Problems Numbers (space seperated)</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="problemids" name="problemids" placeholder="Numbers">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="submit"></label>
    <div class="col-md-7">
      <input id="submit" type="submit" value="Submit" class="btn btn-primary">
    </div>
  </div>
</form>
{% end %}