{% extends admin_base.html %}

{% block headextension %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<link href="/static/css/summernote.css" rel="stylesheet">
{% end %}

{% block js_init %}
function showTaskTypeOption() {
    var selector = $("select[name=task_type]")[0];
    $(".TaskTypeOptions:visible").hide("fast");
    $("#TaskType" + selector.options[selector.selectedIndex].value + "Options").show("fast")
};

showTaskTypeOption();
$("select[name=task_type]").change(showTaskTypeOption);
{% end %}

{% block core %}
{% from cms import plugin_list %}
{% set task_type_list = plugin_list("cms.grading.tasktypes", "tasktypes") %}
{% set score_type_list = plugin_list("cms.grading.scoretypes", "scoretypes") %}

<h1 class="page-header"><i class="fa fa-edit fa-fw"></i> Edit Problems</h1>
<ol class="breadcrumb page-breadcrumb">
  <li><a href="/admin/problems">Problems</a></li>
  <li><a href="/admin/problem/{{ task.id }}">{{ task.title }}</a></li>
  <li class="active">Edit</li>
</ol>

<form id="task-form" class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label" style="text-align:left;">Name</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ task.name }}">
        </div>
      </div>
      <div class="form-group">
        <label for="title" class="col-sm-2 control-label" style="text-align:left;">Title</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ task.title }}">
        </div>
      </div>
      <div class="form-group">
        <label for="primary_statements" class="col-sm-2 control-label" style="text-align:left;">Decripition</label>
        <div class="col-sm-7">
          <div style="display: none;">
            <textarea id="primary_statements" class="form-control" rows="6" name="primary_statements" placeholder="Description">{{ task.primary_statements }}</textarea>
          </div>
          <div id="summernote"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" style="display: none;">
    <label for="name" class="col-sm-4 control-label" style="text-align:left;">Submission Format</label>
    <div class="col-sm-8">
      <div class="radio">
        <label>
          <input type="hidden" name="submission_format_choice" value="simple">
          <input type="radio" name="submission_format_choice" id="submission_format_choice1" value="simple">
          task_name.%l
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="submission_format_choice" id="submission_format_choice2" value="other"> 
          Other
        </label>
      </div>
    </div>
  </div>
  <div class="form-group" style="display: none;">
      <div class="col-sm-4 col-sm-offset-4">
        <input type="text" class="form-control" id="submission_format" placeholder="Format"> 
      </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Task Type</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="name" class="col-sm-4 control-label" style="text-align:left;">Task Type</label>
            <div class="col-sm-8">
              <select class="form-control" name="task_type">
              {% if task.active_dataset.task_type == "Batch" %}
                <option selected="selected" value="Batch">Batch</option>
                <option value="OutputOnly">OutputOnly</option>
              {% elif task.active_dataset.task_type == "OutputOnly" %}
                <option value="Batch">Batch</option>
                <option selected="selected" value="OutputOnly">OutputOnly</option>
              {% end %}
              </select>
            </div>
          </div>
        
          <div class="TaskTypeOptions bordered" id="TaskTypeBatchOptions" style="display: none;">
              <div class="form-group" style="display: none;">
                <label for="name" class="col-sm-4 control-label" style="text-align:left;">Compilation</label>
                <div class="col-sm-8">
                  <select class="form-control" name="TaskTypeOptions_Batch_compilation">
                    <option value="alone">Submissions are self-sufficient</option>
                    <option value="grader">Submissions are compiled with a grader</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-sm-4 control-label" style="text-align:left;">I/O</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="TaskTypeOptions_Batch_io_0_inputfile" value="" placeholder="Leave blank for STDIN">
                  <input type="text" class="form-control" name="TaskTypeOptions_Batch_io_1_outputfile" value="" placeholder="Leave blank for STDOUT">
                </div>
              </div>
              <div class="form-group" style="display: none;">
                <label for="TaskTypeOptions_Batch_output_eval" class="col-sm-4 control-label" style="text-align:left;">Output Evaluation</label>
                <div class="col-sm-8">
                  <select class="form-control" name="TaskTypeOptions_Batch_output_eval">
                    <option value="diff">Outputs compared with white diff</option>
                    <option value="comparator">Outputs are compared by a comparator</option>
                  </select>
                </div>
              </div>
          </div>

          <div class="TaskTypeOptions bordered" id="TaskTypeOutputOnlyOptions" style="display: none;">
              <div class="form-group" style="display: none;">
                <label for="TaskTypeOptions_OutputOnly_output_eval" class="col-sm-4 control-label" style="text-align:left;">Output Evalutaion</label>
                <div class="col-sm-8">
                  <select class="form-control" name="TaskTypeOptions_OutputOnly_output_eval">
                    <option value="diff">Outputs compared with white diff</option>
                    <option value="comparator">Outputs are compared by a comparator</option>
                  </select>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="name" class="col-sm-4 control-label" style="text-align:left;">Time Limit</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">Sec</span>
                <input type="text" class="form-control" id="time_limit" name="time_limit" value="{{ task.active_dataset.time_limit }}" placeholder="Time Limit">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="col-sm-4 control-label" style="text-align:left;">Memory Limit</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">MiB</span>
                <input type="text" class="form-control" id="memory_limit" name="memory_limit" value="{{ task.active_dataset.memory_limit }}" placeholder="Time Limit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<input type="hidden" id="num_tests" name="num_tests" value="0">
<input type="hidden" id="delete_ids" name="delete_ids" value>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tests</h3>
  </div>
  <div class="panel-body">
    <button id="addTest" type="button" class="btn btn-success pull-right" style="margin-bottom: 10px;">Add Test Row</button> 
    <div class="table-responsive" id="tests">
      <table class="table table-bordered" id="tests" style="margin-bottom: 0px; table-layout: fixed;">
        <col width="40%">
        <col width="30%">
        <col width="30%">
        <col width="70">
        <col width="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Input</th>
            <th>Output</th>
            <th>Remove</th>
            <th style="display: none;">Public</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>   
  </div>
</div>
 
<button id="submit-task" type="submit" class="btn btn-primary">Save Changes</button>
</form>
{% end %}

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<script src="/static/js/summernote.js"></script>
<script>
$(document).ready(function() {
  var newItems = 0;
  var oldItems = 0;

  function addNewRow() {
    $('#tests').find('tbody').append('\
      <tr> \
        <td> \
          <input type="hidden" class="test-id" name="new-action-'+newItems+'" value="add"> \
          <input type="text" name="new-codename-'+newItems+'" class="form-control"> \
        </td> \
        <td><input type="file" name="new-input-'+newItems+'" class="input-file"></td> \
        <td><input type="file" name="new-output-'+newItems+'" class="input-file"></td> \
        <td style="text-align: center;"> \
          <button id="ignore-test-'+newItems+'" class="btn btn-danger btn-xs" type="button"><i class="fa fa-close fa-fw"></i></button> \
        </td> \
        <td style="display: none;"><label><input type="checkbox" name="new-public-'+newItems+'"></label></td> \
      </tr>');

    $('#ignore-test-'+newItems).click(function() {
      $(this).parents('tr').find('.test-id').attr("value", "ignore");
      $(this).parents('tr').after('<tr><td colspan="5">Test Deleted</td><tr>');
      $(this).parents('tr').hide();
    });

    newItems++;
    $('#num_tests').val(newItems);
  }
  $('#addTest').click(addNewRow);

  function addOldRow(id, codename, public) {
    $('#tests').find('tbody').append('\
      <tr> \
        <td>'+ codename +'</td> \
        <td><Input-Filename></td> \
        <td><Output-Filename></td> \
        <td style="text-align: center;"> \
          <button id="delete-test-'+ oldItems +'" class="btn btn-danger btn-xs" type="button"><i class="fa fa-close fa-fw"></i></button> \
        </td> \
        <td style="display: none;">false</td> \
      </tr>');

    $('#delete-test-'+ oldItems).click(function() {
      $('#delete_ids').val($('#delete_ids').val() + " " + id);
      $(this).parents('tr').after('<tr><td colspan="5">Test Deleted</td><tr>');
      $(this).parents('tr').hide();
    });

    oldItems++;
  }
  {% for test in task.active_dataset.testcases.itervalues() %}
  addOldRow({{ test.id }}, "{{ test.codename }}", false);
  {% end %}

  $('#task-form').bootstrapValidator({
      message: 'This value is not valid',
      feedbackIcons: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
          name: {
              message: 'This name is not valid',
              validators: {
                  notEmpty: {
                      message: 'Problem names cannot be empty'
                  },
                  stringLength: {
                      max: 80,
                      message: 'Problem names must be no more than 80 characters long'
                  },
                  regexp: {
                      regexp: /^[a-zA-Z0-9_]+$/,
                      message: 'Problem names must only consist of underscores and alphanumeric characters'
                  }
              }
          },
          title: {
              message: 'This title is not valid',
              validators: {
                  notEmpty: {
                      message: 'Problem titles cannot be empty'
                  },
                  stringLength: {
                      max: 80,
                      message: 'Problem titles must be no more than 80 characters long'
                  },
                  regexp: {
                      regexp: /^[a-zA-Z0-9_ ()#-,]+$/,
                      message: 'Problem titles must only consist of underscores, parentheses, hashes, hyphens, commas, spaces and alphanumeric characters'
                  }
              }
          },
          TaskTypeOptions_Batch_io_0_inputfile: {
              message: 'Invalid input file name',
              validators: {
                  regexp: {
                      regexp: /^(|[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)?)$/,
                      message: "Filename must be empty, or alphanumeric with at most one period in it"
                  }
              }
          },
          TaskTypeOptions_Batch_io_1_outputfile: {
              message: 'Invalid output file name',
              validators: {
                  regexp: {
                      regexp: /^(|[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)?)$/,
                      message: "Filename must be empty, or alphanumeric with at most one period in it"
                  }
              }
          },
          time_limit: {
              message: "Invalid time timit",
              validators: {
                  notEmpty: {
                      message: "Time limit must not be blank"
                  },
                  numeric: {
                      separator: ".",
                      message: "Time limit must be numeric"
                  }
              }
          },
          memory_limit: {
              message: "Invalid memory timit",
              validators: {
                  notEmpty: {
                      message: "Memory limit must not be blank"
                  },
                  numeric: {
                      separator: ".",
                      message: "Memory limit must be numeric"
                  }
              }
          }
      }
  });

  $('#summernote').summernote({
    height: 200,

    minHeight: 100,
    maxHeight: 360,

    toolbar: [
      ['style', ['style', 'bold', 'italic', 'underline', 'clear']],
      ['fontsize', ['fontsize']],
      ['para', ['paragraph']],
      ['insert', ['table']],
      ['misc', ['codeview']]
    ],
      
    onChange: function(contents, $editable) {
      $('#primary_statements').val(contents);
    }
  });

  $('#summernote').code('{% raw (task.primary_statements.replace("\n","").replace("\r","\\\r")) %}');
}); 
</script>
{% end %}
