{% extends base_user.html %}

{% block js_init %} 
function showTaskTypeOption() {
    var selector = $("select[name=task_type]")[0];
    $(".TaskTypeOptions:visible").hide("fast");
    $("#TaskType" + selector.options[selector.selectedIndex].value + "Options").show("fast")
};

showTaskTypeOption();
$("select[name=task_type]").change(showTaskTypeOption);
{% end %}

{% block core %}
{% from cms import plugin_list %}
{% set task_type_list = plugin_list("cms.grading.tasktypes", "tasktypes") %}
{% set score_type_list = plugin_list("cms.grading.scoretypes", "scoretypes") %}

<h1 class="page-header">Edit Problems</h1>

<form class="form-horizontal" role="form" method="post">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" style="text-align:left;">Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ task.name }}">
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label" style="text-align:left;">Title</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ task.title }}">
    </div>
  </div>
  <div class="form-group">
    <label for="primary_statements" class="col-sm-2 control-label" style="text-align:left;">Decripition</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="6" name="primary_statements" placeholder="Description">{{ task.primary_statements }}</textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <label for="name" class="col-sm-4 control-label" style="text-align:left;">Time Limit</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input type="text" class="form-control" id="time_limit" name="time_limit" value="{{ task.active_dataset.time_limit }}" placeholder="Time Limit">
              <span class="input-group-addon">Sec</span>    
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-4 control-label" style="text-align:left;">Memory Limit</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input type="text" class="form-control" id="memory_limit" name="memory_limit" value="{{ task.active_dataset.memory_limit }}" placeholder="Time Limit">
              <span class="input-group-addon">MiB</span>    
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">    
      <div class="form-group">
        <label for="name" class="col-sm-4 control-label" style="text-align:left;">Submission Format</label>
        <div class="col-sm-8">
          <div class="radio">
            <label>
              <input type="radio" name="submission_format_choice" id="submission_format_choice1" value="simple">
              task_name.%l
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="submission_format_choice" id="submission_format_choice2" value="other"> 
              Other
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <input type="text" class="form-control" id="submission_format" placeholder="Format"> 
          </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="task-type">
        <h3>Task Options</h3>
        <div class="form-group">
          <label for="name" class="col-sm-4 control-label" style="text-align:left;">Task Type</label>
          <div class="col-sm-8">
            <select class="form-control" name="task_type">
            {% if task.active_dataset.task_type == "Batch" %}
              <option selected="selected" value="Batch">Batch</option>
              <option value="OutputOnly">OutputOnly</option>
            {% elif task.active_dataset.task_type == "OutputOnly" %}
              <option value="Batch">Batch</option>
              <option selected="selected" value="OutputOnly">OutputOnly</option>
            {% end %}
            </select>
          </div>
        </div>
      
        <div class="TaskTypeOptions bordered" id="TaskTypeBatchOptions" style="display: none;">
            <div class="form-group">
              <label for="name" class="col-sm-4 control-label" style="text-align:left;">Compilation</label>
              <div class="col-sm-8">
                <select class="form-control" name="TaskTypeOptions_Batch_compilation">
                  <option value="alone">Submissions are self-sufficient</option>
                  <option value="grader">Submissions are compiled with a grader</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-4 control-label" style="text-align:left;">I/O</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="TaskTypeOptions_Batch_io_0_inputfile" value="" placeholder="Leave blank for STDIN">
                <input type="text" class="form-control" name="TaskTypeOptions_Batch_io_1_outputfile" value="" placeholder="Leave blank for STDOUT">
              </div>
            </div>
            <div class="form-group">
              <label for="TaskTypeOptions_Batch_output_eval" class="col-sm-4 control-label" style="text-align:left;">Output Evaluation</label>
              <div class="col-sm-8">
                <select class="form-control" name="TaskTypeOptions_Batch_output_eval">
                  <option value="diff">Outputs compared with white diff</option>
                  <option value="comparator">Outputs are compared by a comparator</option>
                </select>
              </div>
            </div>
        </div>

        <div class="TaskTypeOptions bordered" id="TaskTypeOutputOnlyOptions" style="display: none;">
            <div class="form-group">
              <label for="TaskTypeOptions_OutputOnly_output_eval" class="col-sm-4 control-label" style="text-align:left;">Output Evalutaion</label>
              <div class="col-sm-8">
                <select class="form-control" name="TaskTypeOptions_OutputOnly_output_eval">
                  <option value="diff">Outputs compared with white diff</option>
                  <option value="comparator">Outputs are compared by a comparator</option>
                </select>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Score Options</h3>
        <div class="form-group">
          <label for="score_type" class="col-sm-4 control-label" style="text-align:left;">Score Type</label>
          <div class="col-sm-8">
            <select class="form-control" name="score_type">
              {% for score_type in score_type_list %}
                {% if score_type.__name__ == task.active_dataset.score_type %}
                    <option selected="selected" value="{{ score_type.__name__}}">{{score_type.__name__}}</option>
                {% else %}
                    <option value="{{ score_type.__name__}}">{{score_type.__name__}}</option>
                {% end %}
            {% end %}
            </select>
          </div>
        </div>
      
        <div class="form-group">
          <label for="score_type_parameters" class="col-sm-4 control-label" style="text-align:left;">Score Parameters</label>
          <div class="col-sm-8">
            <textarea class="form-control" rows="6" name="score_type_parameters" placeholder="Parameters">{{ task.active_dataset.score_type_parameters }}</textarea>
          </div>
        </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Create</button>
      <button type="reset" class="btn btn-primary">Reset</button>
    </div>
  </div>
</form>
{% end %}

<!--
{% from cms import plugin_list %}
{% set task_type_list = plugin_list("cms.grading.tasktypes", "tasktypes") %}
{% set score_type_list = plugin_list("cms.grading.scoretypes", "scoretypes") %}

<div class="core_title">
  <h1>Edit task</h1>
</div>


<form method="post" >
  <h2>Edit task information</h2>
  <table>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name" value="{{ task.name }}"/></td>
      </tr>
      <tr>
        <td>Title</td>
        <td><input type="text" name="title" value="{{ task.title }}"/></td>
      </tr>
      <tr>
        <td>Primary statements (JSON-encoded list of language codes)</td>
        <td><input type="text" name="primary_statements" value="{{ task.primary_statements }}"/></td>
      </tr>
      <tr>
        <td>Submission format</td>
        <td>
          <table>
            <tr>
              <td>
                <input type="radio" name="submission_format_choice" value="simple" checked/>
              </td>
              <td>task_name.%l</td>
            </tr>
            <tr>
              <td><input type="radio" name="submission_format_choice" value="other">
              </td>
              <td>
                Other: <input type="text" name="submission_format"/></td>
              </td>
            </tr>
          </table>
      </tr>
      <tr>
        <td>Time limit</td>
        <td><input type="text" name="time_limit" value="{{ task.active_dataset.time_limit }}"/> second(s)</td>
      </tr>
      <tr>
        <td>Memory limit</td>
        <td><input type="text" name="memory_limit" value="{{ task.active_dataset.memory_limit }}"/> MiB</td>
      </tr>

    </table>


  <h2>Edit task type settings</h2>

  <div id="task_type">
    <table>
      <tr>
        <td>Task type</td>
        <td>

          <select name="task_type">
            {% for task_type in task_type_list %}
                {% if task_type.__name__ == task.active_dataset.task_type %}
                    <option selected="selected" value="{{ task_type.__name__}}">{{task_type.__name__}}</option>
                {% else %}
                    <option value="{{ task_type.__name__}}">{{task_type.__name__}}</option>
                {% end %}
            {% end %}
          </select>

        {% for task_type in task_type_list %}
        <table class="TaskTypeOptions bordered" id="TaskType{{ task_type.__name__ }}Options" style="display: none;">
          {% for i in range(len(task_type.ACCEPTED_PARAMETERS)) %}
            {% set param_def = task_type.ACCEPTED_PARAMETERS[i] %}
            <tr>
                <td>{{ param_def.name }}</td>
                <td>
                    {% raw param_def.render("TaskTypeOptions_%s_" % task_type.__name__) %}
                </td>
            </tr>
          {% end %}
        </table>
        {% end %}


        </td>
      </tr>

      <tr>
        <td>Score Type</td>
        <td>
          <select name="score_type">
            {% for score_type in score_type_list %}
                {% if score_type.__name__ == task.active_dataset.score_type %}
                    <option selected="selected" value="{{ score_type.__name__}}">{{score_type.__name__}}</option>
                {% else %}
                    <option value="{{ score_type.__name__}}">{{score_type.__name__}}</option>
                {% end %}
            {% end %}
          </select>

        </td>
      </tr>
      <tr>
        <td>Score Parameters</td>
        <td><textarea name="score_type_parameters">{{ task.active_dataset.score_type_parameters }}</textarea></td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>

  <input type="submit"/><input type="reset"/>
</form>
 -->