<!-- home.html
	All users who log in will see this page by default
	It includes pinned problems and some other stuff
-->
{% extends contestant_base.html %}

{% block title %}Holly{% end %}

{% block headextension %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
	<script src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>-->
{% end %}

{% block core %}
<h1 class="page-header">Home</h1>
  
<h3>Pinned Problem Sets</h3>
{% include problem_table.html %}

<h3 style="margin-top: 0px">News</h3>
<div class="bs-callout bs-callout-warning">
  <h4>Site Changes</h4>
  <p>The training site has had a few touchups. Head over to the irc channel and complain if you find any problems.</p>
</div>
<div class="bs-callout bs-callout-info">
  <h4>Congratulations</h4>
  <p>IOI 2014 was in Taipei, Taiwan from the 13th to the 20th of July. Congratulations to the Australian team for earning 2 gold medals and 2 silver medals! These results placed students (=)first, fifth, thirty-sixth and seventy-third in the world; an incredible achievement!</p>
</div>

<script>
    $(document).on('click', '.pinned', function() {
      var $pin = $(this)
      var setID = $pin.closest(".outerRow").data("id");
      $.post("/problemset/"+setID+"/unpin", function() {
        $pin.closest(".outerRow").next().remove();
        $pin.closest(".outerRow").remove();
      })
    });
  </script>
{% end %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
          e.preventDefault();
          $(this).siblings('a.active').removeClass("active");
          $(this).addClass("active");
          var index = $(this).index();
          $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
          $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
      });
    });
  </script>
{% end %}
