{% extends base.html %}

{% block js_init %}
function getUrlParameter(sParam) {
   var sPageURL = $(location).attr('search').slice(1)
   var sURLVariables = sPageURL.split('&');
   for (var i = 0; i < sURLVariables.length; i++) {
       var sParameterName = sURLVariables[i].split('=');
       if (sParameterName[0] == sParam) {
           return sParameterName[1];
       }
   }
   return "";
}
var errMsg = getUrlParameter("error");

if (errMsg.length > 0) {
$(loginalert).show();
$(loginalert).html(decodeURIComponent(errMsg));
}
{% end %}

{% block title %}Log in{% end %}

{% block head %}
<link rel="stylesheet" href="/static/css/flat-ui.css">
<link rel="stylesheet" href="/static/css/contestant_style.css">
{% end %}

{% block body %}
<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="login-form">
      <h1>Holly <small style="color: #95A5A6;">Contest Training Website</small></h1>
      <div id="loginalert" style="display:none" class="alert alert-danger">
        <p>Error:</p>
        <span></span>
      </div>

	  <form id="loginform" class="form" role="form" method="POST">
	    <div class="form-group">
	      <input id="username" type="text" class="form-control login-field" name="username" value="" placeholder="Username">
	      <label class="login-field-icon" for="username"><i class="fa fa-user fa-fw"></i></label>
		</div>
	
		<div class="form-group">
			<input id="password" type="password" class="form-control login-field" name="password" placeholder="Password">
			<label class="login-field-icon" for="password"><i class="fa fa-lock fa-fw"></i></label>
		</div>

		<input class="btn btn-primary" type="submit" value="Login">
		<a href="/signup"><button class="btn btn-info" type="button">Sign-Up</button></a>
	  </form>
	  <a class="login-link" href="/recover_password">Lost your password?</a>
    </div>   
  </div>  
</div>
{% end %}
