<table id="problemsets" class="table table-hover">
  <col width="100">
  <col>
  <col>
  <col width="60">
  <tbody>

    <!-- Status Minus
      <td class="status"><span class="glyphicon glyphicon-minus text-primary"><span></td>
    -->

    <!-- Status ok
      <td class="status"><span class="glyphicon glyphicon-ok text-success"><span></td>
    -->

    <!-- Partial Completion
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="40" style="width: [[percent]]%;">
          <span class="sr-only">[[percent]]% Complete</span>
        </div>
      </div>
    -->

    {% for set in sets %}
    <tr class="outerRow" data-id="{{ set.id }}">
      <td class="status"><span class="glyphicon glyphicon-minus text-primary"></span></td>
      <td><a href="/problemset/{{ set.id }}">{{ set.title }}</a></td>
      <td>{{ len(set.tasks) }} problem{% if len(set.tasks) != 1 %}s{% end %}</td>
      <td>
        <span class="expandset glyphicon glyphicon-chevron-right"></span> <span class="{% if set.isPinned(current_user) %}pinned text-danger {% else %}unpinned {% end %}glyphicon glyphicon-pushpin"></span>
      </td>
    </tr>
    <tr class="innerRow" style="display: none">
      <td class="inner" colspan="4">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <table class="table">
              <col width="100">
              <col>
              <tbody>
                {% for task in set.tasks %}
                <tr>
                  <td class="status"><span class="glyphicon glyphicon-minus text-primary"></span></td>
                  <td><a href="/problem/{{ task.id }}">{{ task.title }}</a></td>
                </tr>
                {% end %}
              </tbody>
            </table>
          </div>
          <div class="col-md-1"></div>
        </div> 
      </td>
    </tr>
    {% end %}
  </tbody>
</table>

<script>
  $(document).ready(function(){
    $(".outerRow .expandset").click(function(){
      var $row = $(this).closest(".outerRow");
      $row.next("tr").toggle();
      $row.toggleClass("open");
      if ($row.hasClass("open")) {
        $row.find("span.glyphicon.glyphicon-chevron-right").addClass("glyphicon-chevron-down").removeClass("glyphicon-chevron-right");
      } else {
        $row.find("span.glyphicon.glyphicon-chevron-down").addClass("glyphicon-chevron-right").removeClass("glyphicon-chevron-down");
      }
    });
  });
</script>