{% extends contestant_base.html %}

{% block title %}Holly{% end %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/problems"><i class="fa fa-tasks fa-fw"></i></a></li>
  <li>{{ problemset.title }}</li>
</ol>
{% end %}

{% block core %}
  <script>
    $(document).on('click', '.pinned', function() {
      var $pin = $(this)
      $.post("/problemset/{{ problemset.id }}/unpin", function() {
        $pin.children().removeClass("text-danger");
        $pin.removeClass("pinned");
        $pin.addClass("unpinned");
      })
    });

    $(document).on('click', '.unpinned', function() {
      var $pin = $(this)
      $.post("/problemset/{{ problemset.id }}/pin", function() {
        $pin.children().addClass("text-danger");
        $pin.removeClass("unpinned");
        $pin.addClass("pinned");
      })
    });
  </script>
  <div class="row">
    <div class="col-md-9">
      <h1 class="page-header">{{ problemset.title }}</h1>
    </div>
    <div class="col-md-3" style="padding-top: 20px; text-align: right">
      <button type="button" class="btn {% if is_pinned %} pinned{% else %} unpinned{% end %}">
         <span class="glyphicon glyphicon-pushpin{% if is_pinned %} text-danger{% end %}" style="font-size:24px">
         </span>
      </button>
    </div>
  </div>
  <div>
    {% raw problemset.description %}
  </div>
  {% if len(problemset.tasks) > 0 %}
    <div class="responsive-table">
      <table id="problemsTable" class="table">
        <col width="80">
        <col>
        <col width="150">
        <col width="180">
        <thead>
          <tr>
            <th>Status</th>
            <th>Problem</th>
            <th>Message</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {% for task in problemset.tasks %}
            {% set s = statuses[task.id] %}
            {% if s["status"] == "failed_compilation" %}
              <tr class="danger">
                <td class="status"><i class="fa fa-times fa-fw text-danger"></i></td>
                <td><a href="/problem/{{ problemset.id }}/{{ task.id }}">{{ task.title }} </a></td>
                <td class="text-danger" style="font-size: 12px">Compilation Failed</td>
            {% elif s["status"] == "evaluating" %}
              <tr class="info">
                <td class="status"><i class="fa fa-spinner fa-fw text-info"></i></td>
                <td><a href="/problem/{{ problemset.id }}/{{ task.id }}">{{ task.title }} </a></td>
                <td class="text-info" style="font-size: 12px">Evaluating</td>
            {% elif s["status"] == "scoring" %}
              <tr class="info">
                <td class="status"><i class="fa fa-spinner fa-fw text-info"></i></td>
                <td><a href="/problem/{{ problemset.id }}/{{ task.id }}">{{ task.title }} </a></td>
                <td class="text-info" style="font-size: 12px">Scoring</td>
            {% elif s["status"] == "ready" %}
              {% if s["max_score"] == s["score"] %}
                <tr class="success">
                  <td class="status"><i class="fa fa-check fa-fw text-success"></i></td>
                  <td><a href="/problem/{{ problemset.id }}/{{ task.id }}">{{ task.title }} </a></td>
                  <td class="text-success" style="font-size: 12px">Accepted</td>
              {% else %}
                <tr class="warning">
                  <td class="status">
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ (s["percent"] / 100) * 40 }}" aria-valuemin="0" aria-valuemax="40" style="width: {{ s["percent"] }}%; margin-bottom: 0px;">
                        <span class="sr-only">{{ s["percent"] }}% Complete</span>
                      </div>
                    </div>
                  </td>
                  <td><a href="/problem/{{ problemset.id }}/{{ task.id }}">{{ task.title }} </a></td>
                  <td class="text-warning" style="font-size: 12px">{{ int(s["percent"]) }}% Completed</td>
              {% end %}
            {% else %}
              <tr>
                <td class="status"><i class="fa fa-minus fa-fw"></i></td>
                <td><a href="/problem/{{ problemset.id }}/{{ task.id }}">{{ task.title }} </a></td>
                <td style="font-size: 12px">Not Attempted</td>
            {% end %}
              <td class="table-options"><a href="/problem/{{ problemset.id }}/{{ task.id }}"><button class="btn btn-xs btn-primary">Attempt</button></a> <a href="/problem/{{ problemset.id }}/{{ task.id }}/submissions"><button class="btn btn-xs btn-info">Submissions</button></a></td>
            </tr>
          {% end %}
        </tbody>
      </table>
    </div>
  {% else %}
    <!-- No tasks -->
    <div class="well">
      There are no problems in this problemset at the moment.
    </div>
  {% end %}
{% end %}