{% extends base.html %}

{% block js_init %}
function getUrlParameter(sParam) {
   var sPageURL = $(location).attr('search').slice(1)
   var sURLVariables = sPageURL.split('&');
   for (var i = 0; i < sURLVariables.length; i++) {
       var sParameterName = sURLVariables[i].split('=');
       if (sParameterName[0] == sParam) {
           return sParameterName[1];
       }
   }
   return "";
}
var errMsg = getUrlParameter("error");

if (errMsg.length > 0) {
$(recoveralert).show();
$(recoveralert).html(decodeURIComponent(errMsg));
}
{% end %}

{% block title %}Recover Password{% end %}

{% block head %}
<link rel="stylesheet" href="/static/css/flat-ui.css">
<link rel="stylesheet" href="/static/css/contestant_style.css">
{% end %}

{% block body %}
<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="login-form">
      <div style="display:none" id="recoveralert" class="alert alert-danger col-sm-12"></div>
      <h1>Recover Password</h1>
      <p>
        We will send a verification code to the email address associated with your account, which you can then use to reset your password.
      </p>

	  <form id="recoveryform" class="form" role="form" method="POST">
		<div style="margin-bottom: 25px" class="form-group">
		  <input id="username" type="text" class="form-control login-field" name="username" value="" placeholder="username">
		  <label class="login-field-icon" for="username"><i class="fa fa-user fa-fw"></i></label>
		</div>

		<input class="btn btn-success" type="submit" value="Recover">

	  </form>
	  <a class="login-link" href="/login">Back to login</a>
    </div>   
  </div>  
x</div>
{% end %}
