<h2>Task info</h2>
<table>
  <tr>
    <td>Title</td>
    <td>{{ task.title }}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{ task.name }}</td>
  </tr>
  <tr>
    <td>Statement</td>
    <td>{{ task.primary_statements }}</td>
  </tr>
  <tr>
    <td>Time limit</td>
    <td>{{ task.active_dataset.time_limit }}</td>
  </tr>
  <tr>
    <td>Memory limit</td>
    <td>{{ task.active_dataset.memory_limit }}</td>
  </tr>
  <tr>
    <td>task type</td>
    <td>{{ task.active_dataset.task_type }}</td>
  </tr>
</table>

<h2>Test info</h2>
{% for testcase in task.active_dataset.testcases.itervalues() %}
  <table>
    <tr>
      <td>codename</td>
      <td>{{ testcase.codename }}</td>
    </tr>
    <tr>
      <td>input</td>
      <td>{{ testcase.input }}</td>
    </tr>
    <tr>
      <td>output</td>
      <td>{{ testcase.output }}</td>
    </tr>
  </table>
{% end %}
