{% extends base.html %}

{% block core %}
<ol class="breadcrumb">
  <li><a href="/problems">Problems</a></li>
  <li><a href="/task/{{ task.id }}/descripition">{{ task.name }}</a></li>
  <li class="active">Submissions</li>
</ol>

<h1 class="page-header">Submissions</h1>

<table id="submissions" class="table table-hover">
  <col width="100">
  <col>
  <col>
  <col width="60">
  <thead>
    <tr>
      <th>Compliation</th>
      <th>Compliation Text</th>
      <th>Result</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
  {% for submission in submissions %}
  {% for result in submission.results %}
	<tr>
	  <td>{{ result.compilation_outcome }}</td>
      <td>{{ result.compilation_text }}</td>
      <td>{{ result.evaluation_outcome }}</td>
      <td>{{ result.score }}</td>
	</tr>
  {% end %}
  {% end %}
  </tbody>
</table>
{% end %}