{% extends contestant_base.html %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-tasks fa-fw"></i></a></li>
  <li><a href="/problemset/{{ problemset.id }}">{{ problemset.title }}</a></li>
  <li><a href="/problem/{{ problemset.id }}/{{ task.id }}">{{ task.title }}</a></li>
  <li class="active">Submissions</li>
</ol>
{% end %}

{% block core %}
<h1 class="page-header">Submissions</h1>

<table id="submissions" class="table table-hover">
  <col width="100">
  <col>
  <col>
  <col width="60">
  <thead>
    <tr>
      <th>Compliation</th>
      <th>Compliation Text</th>
      <th>Result</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
  {% for submission in submissions %}
  {% for result in submission.results %}
	<tr>
	  <td>{{ result.compilation_outcome }}</td>
      <td>{{ result.compilation_text }}</td>
      <td>{{ result.evaluation_outcome }}</td>
      <td>{{ result.score_details }}</td>
	</tr>
  {% end %}
  {% end %}
  </tbody>
</table>
{% end %}