{% extends contestant_base.html %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-tasks fa-fw"></i></a></li>
  <li><a href="/problemset/{{ problemset.id }}">{{ problemset.title }}</a></li>
  <li><a href="/problem/{{ problemset.id }}/{{ task.id }}">{{ task.title }}</a></li>
  <li class="active">Submissions</li>
</ol>
{% end %}

{% block core %}
<h1 class="page-header">Submissions</h1>

<div class="panel-group" id="accordion">
  {% set submissionsCount = submissions.count() %}
  {% set count = submissionsCount+1 %}
  {% for resultdescription, submission in zip(results, submissions) %}
  {% for result in submission.results %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ count = count - 1 }}">
          Submission #{{ count }}, {{ resultdescription['description'] }}<span class="pull-right">{{ submission.timestamp.strftime('%d/%m/%Y - %H:%M') }}</span>
        </a>
      </h4>
    </div>
    <div id="collapse{{ count }}" class="panel-collapse collapse {% if (count == submissionsCount) %}out{% else %}in{% end %}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <tbody>
              <tr>
                <td>Compiled:</td>
                <td>
                  {% if result.compilation_failed() %}
                  <i class="fa fa-times text-danger fa-fw"></i> Failed{% else %}
                  <i class="fa fa-check text-success fa-fw"></i> Correctly {% end %}
                </td>
              </tr>
              <tr>
                <td>Evaluated:</td>
                <td>
                  {% if result.compilation_failed() %}
                  <i class="fa fa-minus text-info fa-fw"></i>{% elif result.evaluated() %}
                  <i class="fa fa-check text-success fa-fw"></i> Finished {% else %}
                  <i class="fa fa-refresh text-info fa-fw"></i> Processing {% end %}
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table">
              <tbody>
                <tr>
                  <td>Score:</td>
                  <td>
                    {{ int(result.score) }} / {{ int(score_type.max_score) }}
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="progress">
                      <div class="progress-bar progress-bar-{% if (result.score == score_type.max_score) %}success{% else %}warning{% end %}" role="progressbar" aria-valuenow="{{ (result.score / score_type.max_score) * 100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (result.score / score_type.max_score) * 100 }}%; margin-bottom: 0px;">
                        <span class="sr-only">{{ (result.score / score_type.max_score) * 100 }}% Complete</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div>
        {% if result.compilation_failed() %}
          <h4>Compile error:</h4>
          <pre>{{ result.compilation_stderr }}</pre>
        {% elif result.needs_scoring() %}
          <h4>Yet to be scored</h4>
        {% else %}
          <h4>Results:</h4>
          {% raw score_type.get_html_details(result.score_details) %}
        {% end %}
        </div>

          {% for sourcecode in submittedFiles[submission.id] %}
          <button class="sourcecodebttn" style="margin-bottom: 10px">Show code</button>
          <div class="sourcecode" style="display: none">
            <pre>{{ sourcecode }}</pre>
          </div>
          {% end %}

      </div>
    </div>
  </div>
  {% end %}
  {% end %}
</div>
{% end %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $('.collapse').collapse();
    $('.sourcecodebttn').click(function(){
        $(this).next().toggle();
        if ($(this).text() === "Show code"){
            $(this).text("Hide code");
        } else {
            $(this).text("Show code");
        }
    });
  });
</script>
{% end %}
