{% extends contestant_base.html %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-tasks fa-fw"></i></a></li>
  <li><a href="/problemset/{{ problemset.id }}">{{ problemset.title }}</a></li>
  <li class="active">{{ task.title }}</li>
</ol>
{% end %}

{% block core %}

{% raw task.primary_statements %}

<h3>Submit a solution</h3>

<form role="form" role="form" method="post" action="/problem/{{ task.id }}/submit" enctype="multipart/form-data">
  {% for idx, filename in enumerate(x.filename for x in task.submission_format) %}
  <div class="form-group">
    <label for="{{ filename }}" style="line-height: normal;">{{ filename.replace(".%l", "").capitalize() }}</label>
    <input id="{{ filename }}" name="{{ filename }}" class="input-file" type="file">
  </div>
  {% end %}


  <div class="form-group">
    <input id="submit" type="submit" value="Submit" class="btn btn-primary">
  </div>
</form>

{% end %}
