{% extends contestant_base.html %}

{% block core %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
</ol>

<form class="form-horizontal" method="POST">
<fieldset>

<legend>Edit Account</legend>

<div class="control-group">
  <label class="control-label" for="first_name">First Name</label>
  <div class="controls">
    <input name="first_name" type="text" value="{{ current_user.first_name }}" class="input-xlarge">
    
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="last_name">Last Name</label>
  <div class="controls">
    <input name="last_name" type="text" value="{{ current_user.last_name }}" class="input-xlarge">
    
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="email">Email</label>
  <div class="controls">
    <input name="email" type="text" value="{% if current_user.email is not None %}{{ current_user.email }}{% end %}" class="input-xlarge">
    
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="password">Password</label>
  <div class="controls">
    <input name="password" type="text" value="" class="input-xlarge">
  </div>
</div>

<input type="submit" value="Submit">

</fieldset>
</form>


{% end %}
