{% extends admin_base.html %}

{% block core %}
<h1 class="page-header"><i class="fa fa-bar-chart fa-fw"></i> User Statistics</h1>
<ol class="breadcrumb">
  <li><a href="/admin/users">Users and Groups</a></li>
  <li class="active">User: {{ user.username }}</li>
</ol>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <td>First Name</td>
            <td>{{ user.first_name }}</td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>{{ user.last_name }}</td>
          </tr>
          <tr>
            <td>Username</td>
            <td>{{ user.username }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <td>Admin</td>
            <td>{{ user.is_training_admin }}</td>
          </tr>
        </table>
        <a href="/admin/user/{{ user.id }}/edit" class="pull-left" style="margin-right: 10px;">
          <button type="button" class="btn btn-success"><i class="fa fa-edit fa-fw"></i> Edit</button>
        </a>
        <button class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-trash fa-fw"></i> Delete</button>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title modal-delete-title" id="myModalLabel">Are you sure you want to delete {{ user.username }}?</h4>
              </div>
              <div class="modal-footer">
                
                <form action="/admin/user/{{ user.id }}/delete" method="post" style="display: inline;">
                  <button class="btn btn-default" type="submit" value="Delete">Yes</button>
                </form>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% end %}