{% extends admin_base.html %}

{% block core %}
<h1 class="page-header"><i class="fa fa-bar-chart fa-fw"></i> User Statistics</h1>
<ol class="breadcrumb">
  <li><a href="/admin/users">Users</a></li>
  <li class="active">{{ user.username }}</li>
</ol>

<table class="table">
  <tr>
    <td>First Name</td>
    <td>{{ user.first_name }}</td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td>{{ user.last_name }}</td>
  </tr>
  <tr>
    <td>Username</td>
    <td>{{ user.username }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{ user.email }}</td>
  </tr>
  <tr>
    <td>Admin</td>
    <td>{{ user.is_training_admin }}</td>
  </tr>
</table>


{% end %}
