{% extends contestant_base.html %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
  <li>{{ current_user.first_name.capitalize() }}</li>
</ol>
{% end %}

{% block core %}
<h1 class="page-header">Edit Account</h1>

<form class="form-horizontal" method="POST">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" style="text-align:left;">First Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" value="{{ current_user.first_name }}">
    </div>
  </div>
    
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" style="text-align:left;">Last Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" value="{{ current_user.last_name }}">
    </div>
  </div>
    
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" style="text-align:left;">Username</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{ current_user.username }}">
    </div>
  </div>
    
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" style="text-align:left;">Password</label>
    <div class="col-sm-7">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password (Leave blank to keep the same)" value="">
    </div>
  </div>
    
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" style="text-align:left;">Email</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{ current_user.email }}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="submitbtn"></label>
    <div class="col-md-7">
      <input id="submitbtn" type="submit" value="Save Changes" class="btn btn-primary">
      <button type="button" action="deleteAccount.post();" class="btn btn-danger">Delete</button>
    </div>
  </div>
</form>
<form id="deleteAccount" action="/user/delete"  method="POST"></form>
{% end %}
